.cabecalho {
    background-color: #F2BBC9;
    padding: 20px 40px;
    justify-content: space-between;
    align-items: center;
}

.logotipo {
    font-size: 2rem;
    font-weight: bold;
    color: #d65e7c;
    font-family: 'Georgia', serif;
}

.navegacao .links-navegacao {
    list-style: none;
    display: flex;
    gap: 30px;
}

.links-navegacao li a {
    text-decoration: none;
    color: #d65e7c;;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.links-navegacao li a:hover {
    color: #da869b;
}