body{
    margin: 0px;
}
header{
    background-color: #ffc4d8;
    display: flex;
    justify-content: space-between;
    padding: 0px 10vw;
    align-items: center;
    min-height: 10vh;
}

nav>ul{
    list-style: none;
    padding: 0px;
    display: flex;
    gap:15px
}
nav>ul>li>a{
    text-decoration: none;
    color: #f7709d;
    font-weight: bold;

}

main{
    margin-top: 15px;
    padding: 0px 10vw;
    display: flex;
    position: relative;
}
main>div{
    flex:1
}